<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input id="name" formControlName="name" />
  </div>
  <div>
    <label for="lastname">Last Name:</label>
    <input id="lastname" formControlName="lastname" />
  </div>
  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" />
  </div>
  <div>
    <label for="age">Age:</label>
    <input id="age" type="number" formControlName="age" />
  </div>
  <button type="submit" [disabled]="userForm.invalid">Submit</button>
</form>