<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <label for="name">Name:</label>
    <input id="name" formControlName="name" />
  
    <label for="lastname">Last Name:</label>
    <input id="lastname" formControlName="lastname" />
  
    <label for="email">Email:</label>
    <input id="email" formControlName="email" />
  
    <label for="age">Age:</label>
    <input id="age" type="number" formControlName="age" />
  
    <button type="submit" [disabled]="userForm.invalid">Save</button>
  </form>